body{
    background-color: #525252;
    margin: 0;
    padding: 0;
    text-align: center;
}
.centered-form{
	margin-top: 60px;
}

.centered-form .panel{
	background: rgba(255, 255, 255, 0.8);
	box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
}
html{
  height: 100%;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.container{
	
  width: 50vw;
  height: 50vh;
  background: red;
}

#main_container {
     margin: 0 auto;
     text-align: left;
}